{% extends 'base.html' %}


{% block content %}

    <div class="card border-primary mb-3 mt-5">
        <div class="card-body text-primary p-2">
            <p class="card-text">
                Админ:
                admin
                admin
                <hr>
                Пользователь 1:
                user1
                user1
                <hr>
                Пользователь 2:
                user2
                user2
            </p>
        </div>
    </div>

    <form method="post" action="">
        {% csrf_token %}
        {% include 'includes/bootstrap4_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>


{% endblock %}