{% extends 'base.html' %}

{% block content %}
    <h2>Список выданных IP</h2>

    {% include 'includes/bootstrap4_messages.html' %}

    <form method="get">
        {% include 'includes/bootstrap4_form.html' with form=filter_form %}
        <button type="submit" class="btn btn-primary">Фильтр</button>
    </form>

    <a href="{% url "subnet_admin:ip_network:list" %}" class="btn btn-sm btn-secondary mt-3">Назад</a>

    <ul class="list-unstyled mt-5">
        <li class="mb-3">
            IP Адрес
            <span class="float-right"> Действия</span>
            <span class="float-right mr-5"> Информация</span>
            <span class="ml-5"> Пользователь</span>
        </li>
        {% for ip_item in ip_list %}
            <li class="mb-3">
                {{ ip_item }}
                <a href="{% url "subnet_admin:ip_network:ip_delete" ip_item.pk %}" class="float-right btn btn-sm btn-danger">Удалить</a>
                <span class="float-right text-muted mr-3"><small>Выдано: {{ ip_item.created }}</small></span>
                <span class="text-muted ml-5"><small>{{ ip_item.user }}</small></span>
            </li>
            <hr>
        {% empty %}
            <li class="text-center"> Выданных адресов нет</li>
        {% endfor %}
    </ul>
    {% include 'includes/bootstrap4_pagination.html' %}
{% endblock %}