{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

    <h2>{{ form.get_form_title }}</h2>

    <a href="{% url "subnet_admin:ip_network:list" %}" class="btn btn-sm btn-secondary mt-1 mb-2">Назад</a>

    <form method="post">
        {% csrf_token %}
        {% include 'includes/bootstrap4_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}

{% block extra_js %}
{#    <script>#}
{#        $(document).ready(function(){#}
{#            $("input[data-masked-ip]").mask('0ZZ.0ZZ.0ZZ.0ZZ', {#}
{#                translation: {#}
{#                    'Z': {#}
{#                        pattern: /[0-9]/, optional: true#}
{#                    }#}
{#                }#}
{#            });#}
{#        })#}
{#    </script>#}
{% endblock %}