{% extends 'base.html' %}

{% block content %}
    <h2>Список подсетей</h2>

    <a href="{% url "subnet_admin:ip_network:add" %}" class="btn btn-sm btn-success">Добавить подсеть</a>
    <a href="{% url "subnet_admin:ip_network:ip_list" %}" class="btn btn-sm btn-info">Выданные IP адреса</a>

    {% include 'includes/bootstrap4_messages.html' %}

    <ul class="list-unstyled mt-5">
        {% for subnet in subnet_list %}
            <li class="mb-3">
                {{ subnet }}
                <a href="{% url "subnet_admin:ip_network:delete" subnet.pk %}" class="float-right btn btn-sm btn-danger">Удалить</a>
                <a href="{% url "subnet_admin:ip_network:edit" subnet.pk %}" class="float-right btn btn-sm btn-info mr-2">Редактировать</a>
                <span class="float-right text-muted mr-3"><small>Занято: {{ subnet.get_used_ip_count }} IP.</small></span>
                <span class="float-right text-muted mr-3"><small>Доступно: {{ subnet.get_allowed_ip }} IP.</small></span>
            </li>
            <hr>

        {% endfor %}
    </ul>
    {% include 'includes/bootstrap4_pagination.html' %}
{% endblock %}