{% if messages %}
    {% for message in messages %}
        <div class="card border-primary mb-3 mt-3">
            <div class="card-body text-primary p-2">
                <p class="card-text">{{ message }}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}