{% extends 'base.html' %}

{% block content %}
    <h2>Удаление IP адреса</h2>

    <form action="" method="post">
        {% csrf_token %}
        <h5>Вы уверены что хотите удалить данный IP адрес?</h5>

        <div class="card  bg-secondary text-white">
            <div class="card-body">
                {{ object }}
            </div>
        </div>
        <input type="submit" value="Удалить" class="btn btn-sm btn-danger mt-3" />
        <a href="{% url "subnet_user:ip_network:list" %}" class="btn btn-sm btn-secondary mt-3">Отмена</a>

    </form>
{% endblock %}