{% extends 'base.html' %}

{% block content %}
    <h2>Список выданных IP</h2>

    <a href="{% url "subnet_user:ip_network:subnet_list" %}" class="btn btn-sm btn-success btn-block">Получить IP </a>

    {% include 'includes/bootstrap4_messages.html' %}

    <ul class="list-unstyled mt-5">
        {% for ip_item in ip_list %}
            <li class="mb-3">
                {{ ip_item }}
                <a href="{% url "subnet_user:ip_network:delete" ip_item.pk %}" class="float-right btn btn-sm btn-danger">Удалить</a>
                <span class="float-right text-muted mr-3"><small>Выдано: {{ ip_item.created }}</small></span>
            </li>
            <hr>

        {% endfor %}
    </ul>
    {% include 'includes/bootstrap4_pagination.html' %}
{% endblock %}