{% extends 'base.html' %}

{% block content %}
    <h2>Список доступных подсетей</h2>

    <div class="card border-primary mb-3 mt-3">
        <div class="card-body text-primary p-2">
            <p class="card-text">Выберите подсеть, в который Вы хотите получить IP адрес.</p>
        </div>
    </div>

    <a href="{% url "subnet_user:ip_network:list" %}" class="btn btn-sm btn-secondary ">Назад</a>

    {% include 'includes/bootstrap4_messages.html' %}

    <ul class="list-unstyled mt-5">
        {% for subnet in subnet_list %}
            <li class="mb-3">
                {{ subnet }}
                <a href="{% url "subnet_user:ip_network:get" subnet.pk %}" class="float-right btn btn-sm btn-danger
                {% if subnet.get_allowed_ip <= 0 %}disabled{% endif %}">
                    Получить IP
                </a>
            </li>
            <hr>
        {% endfor %}
    </ul>
    {% include 'includes/bootstrap4_pagination.html' %}
{% endblock %}